<!DOCTYPE html>
<html>
<head>
    <title>OmRia.com</title>
</head>
<body>
    <header>
        <%= title %>
    </header>
    <%= error%>
    <form method="POST">
        First Name:
        <input type="text" name="FirstName" style="height:25px;width:100%;border-radius: 5px;" value="<%= driver.FirstName %>">
        Last Name:
        <input type="text" name="LastName" style="height:25px;width:100%;border-radius: 5px;" value="<%= driver.LastName %>">
        Email:
        <input type="text" name="Email" style="height:25px;width:100%;border-radius: 5px;" value="<%= driver.Email %>">
        Phone:
        <input type="text" name="Phone" style="height:25px;width:100%;border-radius: 5px;" value="<%= driver.Phone %>">
        Gender:
        <input type="text" name="Gender" style="height:25px;width:100%;border-radius: 5px;" value="<%= driver.Gender %>">
        License Plate:
        <input type="text" name="LicensePlate" style="height:25px;width:100%;border-radius: 5px;" value="<%= driver.LicensePlate %>">
        <input type="submit" value="Add New Driver" >
    </form>
    
</body>
</html>