
<h1>List</h1>
<!-- <a href="/riders/add">Add</a> -->
<table border='1'>
    <tr>
      <td><center>Id.</center></td>
      <td><center>Name</center></td>
      <td><center>Email</center></td>
      <td><center>Phone</center></td>
      <td><center>Gender</center></td>
      <td colspan="2"><center>Option</center></td>
    </tr>
  <% let i=1 %>
  <% data.forEach(data =>{ %>
    <tr>
      <td><%= i++ %></td>

      <td><%= data.getFullName() %></td>
      <td><%= data.Email %></td>
      <td><%= data.Phone %></td>
      <td><%= data.Gender %></td>
      <td><a href="/riders/update/<%= data.id %>">Update</a></td>
      <td><a href="/riders/delete/<%= data.id %>" onclick="return confirm('delete this ?');">Delete</a></td>
    </tr>
  
  <% })%>
  <%=




  %>
</table>

<a href="/">Back</a>
